* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.article {
    max-width: 684px;
    margin: 0 auto;
    padding: 144px 95px;
}

.article__icon {
    max-height: 60px;
}

.article__headline {
    padding: 47px 0 23px;
    font-family: Inter;
    font-weight: bold;
    font-size: 38px;
    line-height: 51px;
}

.article__fold-line {
    border: 1px solid #E5E5E5;
    margin-bottom: 30px;
}

.article__clause-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.article__clause-paragraph {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.article_clause-item_type_title {
    padding-bottom: 30px;
}

.article_clause-item_type_paragraph {
    margin-bottom: 24px;
}

.article_clause-item_type_paragraph:last-of-type {
    margin-bottom: 36px;
}

.menu {
    display: none;
    margin-left: -118px;
}

.article__clause-item {
    display: flex;
    flex-direction: row;
}

.article__clause-item:hover .menu {
    display: block;
    /* display: flex; */
}

.menu__items {
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu__item {
    display: inline-block;
    list-style-type: none;
    margin-right: 9.58px;
}

.menu__button {
    width: 20px;
    height: 20px;
    border: none;
}

.menu__button_new-title {
    background-image: url(images/h1.svg);
}

.menu__button_new-paragraph {
    background-image: url(images/t.svg);
}

.menu__button_delete-item {
    background-image: url(images/delete.svg);
}

.menu__button_move-item {
    background-image: url(images/move.svg);
}
